## Q1. What is a database? Differentiate between SQL and NoSQL databases.

## Answer:
A database is a collection of organized data that can be accessed, managed, and updated easily. It stores data in a structured format and provides a way to retrieve and manipulate that data.

SQL (Structured Query Language) databases are relational databases that store data in tables with predefined relationships between them. SQL databases are highly structured and require a schema to be defined before data can be added. They are best suited for applications that require complex queries and transactions, such as financial systems.

NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that store data in a more flexible format, such as key-value pairs, documents, or graphs. They do not require a predefined schema and can easily handle large amounts of unstructured data. NoSQL databases are best suited for applications that require high scalability and performance, such as social media platforms or e-commerce sites.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

## Answer:
DDL stands for Data Definition Language, which is a subset of SQL that is used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

### 1. CREATE: 
This command is used to create a new database object such as a table, view, index, or stored procedure.

In [ ]:
CREATE TABLE students (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT
);

### 2. DROP:
This command is used to delete an existing database object such as a table, view, index, or stored procedure.

In [ ]:
DROP TABLE students;

### 3. ALTER: 
This command is used to modify an existing database object such as a table, view, or stored procedure. ALTER can be used to add, modify, or delete columns from a table, or change the data type of a column.

In [ ]:
ALTER TABLE students
ADD COLUMN email VARCHAR(50);

### 4. TRUNCATE: 
This command is used to delete all the data from an existing table, but it doesn't delete the table structure.

In [ ]:
TRUNCATE TABLE students;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## Answer:
DML stands for "Data Manipulation Language," which is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML commands are used to insert, update, and delete data from the tables in a database.

### 1. INSERT : 
This command is used to insert new data into a table.

In [ ]:
INSERT INTO students (id, name, age, email) VALUES (1, 'Rahul', 24, 'Rahul123@gmail.com');

This command will insert a new row into the "students" table with the values "1" for the "id" column, "Rahul" for the "name" column, "24" for the "age" column, and "Rahul123@gmail.com" for the "email" column.

### 2. UPDATE:
This command is used to modify existing data in a table.

In [ ]:
UPDATE students SET age = 25 WHERE id = 1;

This command will update the age of the student with "id" 1 to "25" in the "students" table.

### 3. DELETE: 
This command is used to delete data from a table.

In [ ]:
DELETE FROM students WHERE id = 1;

This command will delete the row with "id" 1 from the "students" table.

## Q4. What is DQL? Explain SELECT with an example.

## Answer:
DQL stands for "Data Query Language," which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are used to search, filter, and sort data from tables in a database.

### SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It is one of the most commonly used SQL statements.

In [ ]:
SELECT * FROM employees;

This statement retrieves all the columns (indicated by the * symbol) from the employees table in a database. The semicolon at the end of the statement signifies the end of the statement.

In [ ]:
SELECT first_name, last_name, email FROM employees;

This statement retrieves only the first_name, last_name, and email columns from the employees table. You can also use WHERE clause to add conditions to filter data, for example:

In [ ]:
SELECT first_name, last_name, email FROM employees WHERE department = 'Data scientist';

This statement retrieves only the first_name, last_name, and email columns of employees who work in the Data scientist department.

## Q5. Explain Primary Key and Foreign Key.

## Answer:
**Primary Key:** A primary key is a field or combination of fields in a relational database table that uniquely identifies each record in the table. It is a unique identifier for a particular record in a table and ensures that each record in the table is unique and identifiable. The primary key constraint ensures that the values in the specified column(s) of a table are unique and not null. Typically, a primary key is used as the basis for other tables to reference in establishing relationships between tables.

**Foreign Key:** A foreign key is a field or combination of fields in one table that refers to the primary key of another table. It establishes a link between two tables and ensures that data in related tables is consistent. The foreign key constraint specifies that the values in a particular column or set of columns in one table must match the values in the primary key column(s) of another table. This ensures that data is correctly related between the tables and maintains data integrity. The foreign key also allows for data to be easily retrieved across multiple tables that are related to each other.

In summary, a primary key is used to uniquely identify each row in a table, while a foreign key is used to establish relationships between tables by referencing the primary key of another table. Primary and foreign keys are essential for maintaining data consistency and integrity in a relational database.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

## Answer:

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector

# Connect to the database
connection = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password",
  database="your_database"
)

# Create a cursor object
cursor = connection.cursor()

# Execute SQL queries
cursor.execute("SELECT * FROM your_table")

# Fetch the results
results = cursor.fetchall()

# Process the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

**cursor():** The execute() method is used to execute a SQL query on the database. It takes in a string containing the SQL query as a parameter.

**execute():** The cursor() method creates a new cursor object that can be used to execute SQL queries on the database. The cursor object is used to fetch the results of the query and perform other operations on the database.

## Q7. Give the order of execution of SQL clauses in an SQL query.

## Answer:

The order of execution of SQL clauses in an SQL query can be summarized as follows:


1. **FROM:** This clause specifies the table or tables from which the data will be selected.
2. **JOIN:** This clause is used to combine rows from two or more tables based on a related column between them.
3. **WHERE:** This clause is used to filter rows based on a specified condition.
4. **GROUP BY:** This clause is used to group the selected rows based on one or more columns.
5. **HAVING:** This clause is used to filter groups based on a specified condition.
6. **SELECT:** This clause is used to select the columns to include in the result set.
7. **DISTINCT:** This clause is used to remove duplicates from the result set.
8. **ORDER BY:** This clause is used to sort the result set based on one or more columns.
9. **LIMIT:** This clause is used to limit the number of rows returned in the result set.